<nav class="bottom-nav">
  <ul>
    <li>
      <a href="/" class="active"> <img src="/img/heart-icon.svg" alt="'Heart' icon">Match</a></li>
    <li>
      <a href="/logboek"><img src="/img/logbook-icon.svg" alt="'Logbook' icon">Logboek</a></li>
    <li>
      <a href="/create-post"><img src="/img/add-icon.svg" alt="'Add' icon"></a>
    </li>
    <li>
      <a href="/discover"><img src="/img/discover-icon-u.svg" alt="'Logbook' icon">Ontdek</a></li>
    <li>
      <a href="/profile"><img src="/img/profile-icon.svg" alt="'Profile' icon">Profiel</a></li>
  </ul>
</nav>
