<nav class="bottom-nav">
  <ul>
    <li>
      <a href="/matchen">
        <p>Match</p>
        <svg class="line" width="40" height="40" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_94_281)">
          <path d="M16 28C16 28 3 21 3 12.75C3 10.9598 3.71116 9.2429 4.97703 7.97703C6.2429 6.71116 7.95979 6 9.75 6C12.5738 6 14.9925 7.53875 16 10C17.0075 7.53875 19.4262 6 22.25 6C24.0402 6 25.7571 6.71116 27.023 7.97703C28.2888 9.2429 29 10.9598 29 12.75C29 21 16 28 16 28Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          </svg>
      </a>
    </li>
    <li>
      <a href="/discover">
        <p>Ontdek</p>
        <svg class="line" width="40" height="40" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_94_265)">
          <path d="M17 22C21.9706 22 26 17.9706 26 13C26 8.02944 21.9706 4 17 4C12.0294 4 8 8.02944 8 13C8 17.9706 12.0294 22 17 22Z" stroke="#FC9B5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M13 30H21" stroke="#FC9B5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17 26V30" stroke="#FC9B5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M26 22.3813C23.5409 24.7107 20.2697 25.9884 16.8827 25.9422C13.4958 25.8961 10.2606 24.5298 7.8658 22.1343C5.47105 19.7387 4.10588 16.503 4.0609 13.1161C4.01592 9.72909 5.29468 6.45832 7.62497 4" stroke="#FC9B5E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          </svg>
      </a>
    </li>
    <li>
      <a href="/create-post" class="no-active">
        <svg width="60" height="60" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#FC9B5E"/>
          <path d="M31.75 20C31.75 20.1989 31.671 20.3897 31.5303 20.5303C31.3897 20.671 31.1989 20.75 31 20.75H20.75V31C20.75 31.1989 20.671 31.3897 20.5303 31.5303C20.3897 31.671 20.1989 31.75 20 31.75C19.8011 31.75 19.6103 31.671 19.4697 31.5303C19.329 31.3897 19.25 31.1989 19.25 31V20.75H9C8.80109 20.75 8.61032 20.671 8.46967 20.5303C8.32902 20.3897 8.25 20.1989 8.25 20C8.25 19.8011 8.32902 19.6103 8.46967 19.4697C8.61032 19.329 8.80109 19.25 9 19.25H19.25V9C19.25 8.80109 19.329 8.61032 19.4697 8.46967C19.6103 8.32902 19.8011 8.25 20 8.25C20.1989 8.25 20.3897 8.32902 20.5303 8.46967C20.671 8.61032 20.75 8.80109 20.75 9V19.25H31C31.1989 19.25 31.3897 19.329 31.5303 19.4697C31.671 19.6103 31.75 19.8011 31.75 20Z"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="/chatroom">
        <p>Chat</p>
        <svg width="40" height="40" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.235 3.76497C28.0163 3.54298 27.7418 3.3842 27.4403 3.30543C27.1389 3.22666 26.8218 3.23082 26.5225 3.31747H26.5087L2.51747 10.5962C2.17558 10.6942 1.87164 10.8939 1.64615 11.169C1.42065 11.444 1.28429 11.7812 1.25524 12.1356C1.22619 12.4901 1.30582 12.845 1.48353 13.153C1.66124 13.4611 1.92859 13.7077 2.24997 13.86L12.9512 18.9287C13.0029 18.9541 13.0446 18.9958 13.07 19.0475L18.14 29.75C18.28 30.0496 18.5027 30.303 18.782 30.4802C19.0613 30.6574 19.3855 30.751 19.7162 30.75C19.7662 30.75 19.8175 30.75 19.8675 30.7437C20.2218 30.7159 20.5591 30.58 20.8338 30.3545C21.1085 30.1289 21.3074 29.8246 21.4037 29.4825L28.6787 5.49122V5.47747C28.7658 5.17852 28.7706 4.86159 28.6925 4.56016C28.6144 4.25873 28.4563 3.98399 28.235 3.76497ZM27.235 5.06497L19.9662 29.0537V29.0675C19.9545 29.1176 19.9266 29.1625 19.8868 29.1953C19.8471 29.228 19.7977 29.2468 19.7462 29.2487C19.6946 29.2565 19.6419 29.2466 19.5965 29.2208C19.5512 29.1949 19.5158 29.1546 19.4962 29.1062L14.4962 18.5612L20.5262 12.5312C20.667 12.3905 20.746 12.1996 20.746 12.0006C20.746 11.8016 20.667 11.6107 20.5262 11.47C20.3855 11.3292 20.1946 11.2502 19.9956 11.2502C19.7966 11.2502 19.6057 11.3292 19.465 11.47L13.44 17.5L2.89372 12.5C2.84739 12.4784 2.80878 12.4431 2.78312 12.3989C2.75745 12.3547 2.74595 12.3037 2.75017 12.2527C2.7544 12.2018 2.77414 12.1533 2.80673 12.114C2.83933 12.0746 2.88321 12.0461 2.93247 12.0325H2.94622L26.935 4.75997C26.9771 4.74813 27.0217 4.74793 27.0639 4.75937C27.1062 4.77081 27.1446 4.79348 27.175 4.82497C27.2058 4.85583 27.228 4.89422 27.2394 4.93632C27.2508 4.97842 27.251 5.02277 27.24 5.06497H27.235Z"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="/profile">
        <p>Profiel</p>
        <svg width="40" height="40" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.6487 26.625C26.6724 23.21 23.5699 20.8138 19.9649 19.7975C21.7176 18.9066 23.1192 17.4513 23.9436 15.6664C24.768 13.8814 24.9672 11.8709 24.5092 9.95884C24.0511 8.04681 22.9624 6.34479 21.4186 5.1272C19.8749 3.90962 17.9661 3.24744 15.9999 3.24744C14.0338 3.24744 12.125 3.90962 10.5812 5.1272C9.03749 6.34479 7.94881 8.04681 7.49074 9.95884C7.03266 11.8709 7.23189 13.8814 8.05631 15.6664C8.88072 17.4513 10.2823 18.9066 12.0349 19.7975C8.42994 20.8125 5.32744 23.2088 3.35119 26.625C3.29693 26.7104 3.26049 26.8058 3.24407 26.9057C3.22766 27.0055 3.2316 27.1076 3.25567 27.2058C3.27973 27.3041 3.32342 27.3964 3.38411 27.4773C3.44479 27.5583 3.52122 27.6261 3.6088 27.6767C3.69637 27.7273 3.79328 27.7597 3.89369 27.7719C3.99411 27.7841 4.09595 27.7759 4.1931 27.7477C4.29024 27.7195 4.38068 27.672 4.45898 27.6079C4.53728 27.5439 4.60181 27.4646 4.64869 27.375C7.04994 23.2263 11.2924 20.75 15.9999 20.75C20.7074 20.75 24.9499 23.2263 27.3512 27.375C27.3981 27.4646 27.4626 27.5439 27.5409 27.6079C27.6192 27.672 27.7096 27.7195 27.8068 27.7477C27.9039 27.7759 28.0058 27.7841 28.1062 27.7719C28.2066 27.7597 28.3035 27.7273 28.3911 27.6767C28.4787 27.6261 28.5551 27.5583 28.6158 27.4773C28.6765 27.3964 28.7202 27.3041 28.7442 27.2058C28.7683 27.1076 28.7722 27.0055 28.7558 26.9057C28.7394 26.8058 28.703 26.7104 28.6487 26.625ZM8.74994 12C8.74994 10.5661 9.17515 9.16439 9.97179 7.97213C10.7684 6.77988 11.9007 5.85063 13.2255 5.30189C14.5503 4.75316 16.008 4.60958 17.4143 4.88932C18.8207 5.16907 20.1125 5.85956 21.1265 6.87349C22.1404 7.88742 22.8309 9.17925 23.1106 10.5856C23.3904 11.992 23.2468 13.4497 22.6981 14.7745C22.1493 16.0992 21.2201 17.2315 20.0278 18.0282C18.8356 18.8248 17.4339 19.25 15.9999 19.25C14.0778 19.2477 12.2351 18.4831 10.876 17.124C9.51684 15.7648 8.75226 13.9221 8.74994 12Z"/>
        </svg>
      </a></li>
  </ul>
</nav>

<script src="/javascript/nav.js"></script>