<nav>
  <a  href="/">EJS Is Fun</a>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
      <% if (!user) { %>
      <li>
      <a href="/login">Login</a>
      <% } else { %>
        <li>
        <a href="/logout">Logout</a>
     <% } %>
   
    </li>
  </ul>
</nav>