<nav>
  <ul>
    <% if (!user) { %>
      <li><a href="/login">Login</a></li>
    <% } else { %>
      <li>
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit">Logout</button>
        </form>
      </li>
    <% } %>
  </ul>
</nav>