<button id="toggleFilter" class="toggleFilter">
    <img src="img/filter-icon.svg" alt="Filter">
  </button>

  <div class="filter-menu" id="filterMenu">
    <h2 class="underline">Filters</h2>
    <button class="close-menu" id="closeMenu">
      <img src="img/leftarrow.svg" alt="sluit menu">
    </button>


    <label>Datum vertrek</label>
    <input type="date" id="dateFilter">

    <label>Aantal dagen</label>
    <input type="number" id="daysFilter">

    <div class="continents">
      <h3>Continenten</h3>
      <div class="buttons">
        <button class="filter-btn" data-continent="afrika">Afrika</button>
        <button class="filter-btn" data-continent="azië">Azië</button>
        <button class="filter-btn" data-continent="europa">Europa</button>
        <button class="filter-btn" data-continent="amerika">Amerika</button>
        <button class="filter-btn" data-continent="oceanië">Oceanië</button>
      </div>
    </div>


  </div>