/* slider */
#birthday {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  margin-top: 2em;
}

#birthday::-webkit-slider-runnable-track {
  height: 0.1em;
  background: var(--clr-text);
  border-radius: 1em;
}

#birthday::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.3em;
  height: 1.3em;
  background: var(--clr-primary);
  border-radius: 50%;
  margin-top: -0.6em;
}

/* Open filter menu knop*/
.toggleFilter {
  position: absolute;
  top: 1.25em;
  right: 1.25em; 
  padding: 0.5em 1em;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  z-index: 2000;
}

/* Fullscreen menu */
.filter-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-neutral);
  padding: 2em 2em; /* meer padding-top */
  box-sizing: border-box;
  z-index: 1000;

  /* Animatie */
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.filter-menu ul {
  list-style: none;
}

/* Menu zichtbaar als class show aanwezig is */
.filter-menu.show {
  transform: translateX(0);
}

/* Close knop linksboven */
.close-menu {
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  cursor: pointer;
  background: none;
  border: none;
}

.close-menu img {
  width: 1.875em;
  height: auto;
  margin-top: 2em;
}

/* Filter buttons styling */
.filter-btn{
  display: block;
  margin: 0.5em 0;
  padding: 0.3em 0.5em;
  border: 0.05em solid var(--clr-text);
  border-radius: 10em;
  cursor: pointer;
  font-size: 1em;
  color: var(--clr-text);
}

.filter-btn.active {
  background: var(--gradient-primary);
  color: var(--clr-neutral);
  border: none;
}

.buttons {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.buttons .filter-btn, .continents .filter-btn {
  flex: 1 1 20%;      
  text-align: center;    
  padding: 0.5em 1em;     
  box-sizing: border-box;  
  max-width: 8em;
}

/* Alle labels boven hun input plaatsen */
.filter-menu label {
  display: block; 
  margin-top: 1em;        
  margin-bottom: 0.5em;  
  font-weight: 400;       
  font-size: 1em;
}

/* Inputs onder hun label */
.filter-menu input {
  border: solid var(--clr-text) 0.05em;
  display: block;    
  width: 100%;           
  padding: 0.7em;
  box-sizing: border-box;
  margin-bottom: 1em;  
  border-radius: 0.5em;
  border: none;
  background-color: var(--clr-surface);
  max-width: 30em;
  color: var(--clr-input-text);
}

.reset-filters {
  justify-self: center;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 0.8em;
  border-radius: 10em;
  cursor: pointer;
  font-size: 1em;
  color: var(--clr-neutral);
  background: var(--gradient-primary);
  margin-top: 3em;
}

/* zoekbalk */
.search input {
  border: solid 0.1em var(--clr-text);
  border-radius: 2em;
  padding: 0.5rem 1rem;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  background-color: var(--clr-neutral);
}

#searchInput::placeholder {
  color: var(--clr-input-text);
}

.search input:focus {
  outline: none;
  border: solid 0.1em var(--clr-text);
}

/* Bij geen resultaten */
#noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 12em;
}

#noResults p {
  margin-bottom: 2em;
  font-size: 1.2em;
}

/* witruimte boven filtermenu */

.discover-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
}