/* forms */
.voortgangsbalk {
  display: flex;
  gap: 10px;
}

.voortgangsbalk div {
  height: 5px;
  width: 100%;
  border-radius: 5px;
}

.voortgangsbalk-active {background-color: var(--clr-primary);}
.voortgangsbalk-inactive {background-color: var(--clr-surface);}

.multi-step-form {
    height: 80vh;
}

form {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: var(--space-side);
  position: relative;
}

.form-step > a,
  .form-step > button[data-prev] {
    position: absolute;
    top: 0;
    right: 0;
}

form div {
  display: flex;
}

form input.gradient-btn {
  justify-self: right;
}

label {
    display: block;
    margin-top: var(--space-gap-s);
}

input, textarea, select {
    background: var(--clr-surface);
    border: none;
    border-radius: 5px;
    min-height: 2rem;
    color: var(--clr-input-text);
    width: 100%;
    padding: var(--space-gap-xs);
 }

 textarea {
    height: fit-content;
    resize: none;
  }

 /* multipage form */
  .form-step {
    display: none;
  }
  .form-step.form-active {
    display: block;
  }
  form h1 {
    width: fit-content;
  }
  form p:first-of-type {
    font-family: 'indie-flower';
    color: var(--clr-primary);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
  }
  form h2 {
    font-weight: normal;
    text-align: center;
    margin-bottom: var(--space-gap);
  }
  form button[data-next], input.gradient-btn {
    position: absolute;
    right: 0;
    bottom: var(--space-gap-s);
  }

/* checkboxes voor aanmeldform */
.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.option input {
  display: none;
}

.option span {
  padding: 10px 20px;
  border: .05rem solid var(--clr-text);
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.option input:checked+span {
  background: var(--gradient-primary);
  color: white;
  border: none;
}

/* a in inlog form */
a {
  color: var(--clr-text);

    text-decoration: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-thickness: .125rem;
    text-underline-offset: .2rem;
}