/* forms */

form {
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

a {
  color: var(--clr-text);
  text-decoration: underline;
  text-decoration-color: var(--clr-primary);
  text-decoration-thickness: .125rem;
  text-underline-offset: .2rem;
}

form div {
  display: flex;
  gap: var(--space-gap-s);
}

form input.gradient-btn {
  justify-self: right;
}

label {
  display: block;
  margin-top: var(--space-gap-s);
}

input,
textarea,
select {
  background: var(--clr-surface);
  color: var(--clr-input-text);
  
  border: none;
  border-radius: var(--border-radius);
  
  min-height: var(--space-gap);
  width: 100%;
  padding: var(--space-gap-xs);
}

input::placeholder{
  color: var(--clr-input-text);
}

#birthday{
  background: var(--clr-surface);
}

/* Deze fixt streepje van h1 vanwege de pijl absolutez*/
form h1 {
  width: fit-content;
}

form p:first-of-type {
  font-family: 'indie-flower';
  font-size: 1.1rem;
  text-align: center;

  color: var(--clr-primary);

  margin-top: var(--space-gap);
}

form h2 {
  font-family: inter;
  font-weight: 300;
  text-align: center;
  font-size: 1.1rem;

  margin-bottom: var(--space-gap);
}

form button[data-next],
input.gradient-btn {
  position: absolute;
  right: 0;
  bottom: var(--space-gap-s);
  padding: .5rem 2.5rem;
  font-size: 1rem;
}

.progressbar {
  display: flex;
  gap: var(--space-gap-xs);
}

.progressbar div {
  height: .3rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.progressbar-active {
  background-color: var(--clr-primary);
}

.progressbar-inactive {
  background-color: var(--clr-surface);
}

.multi-step-form {
  height: 80vh;
}

.form-step>a,
.form-step>button[data-prev] {
  position: absolute;
  top: 0;
  right: 0;
}

/* multipage form */
.form-step {
  display: none;
}

.form-step.form-active {
  display: block;
}


/* checkboxes voor aanmeldform */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-gap-xs);
  margin: var(--space-gap-xs) 0;
}

.option input {
  display: none;
}

.option span {
  padding: var(--space-gap-xs) var(--space-side-s);
  border: .05rem solid var(--clr-text);
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.option input:checked+span {
  background: var(--gradient-primary);
  color: white;
  border: none;
}

/* disabled button form*/
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.inlogform {
  height: 55vh;
}

.inlogform input:nth-of-type(2) {
  padding: .5rem 2.5rem;
  font-size: 1rem;
  background: var(--gradient-primary);
}

.login a.ww {
  display: block;
  margin-top: var(--space-gap);

  text-align: center;
  font-weight: 200;
}

.back-button {
  position: absolute;
  top: 0;
  right: 0;
}

.login div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: var(--space-gap);
}

/* Wachtwoord zien en niet meer zien */
.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5em; /* ruimte voor oogje */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(20%);
  cursor: pointer;
  user-select: none;
}

.toggle-password img.eye-icon {
  width: 24px;
  height: 24px;
}

/* small styling voor error melding */
small{
  color: var(--clr-primary);
  font-size: 0.8rem;
  margin-top: var(--space-gap-xs);
}

/* form textarea auto-resize */
.image-upload-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 10rem 5rem;
  position: relative;
}

.upload-wrapper {
  position: relative;
  height: 100%;
}

.upload-box {
  background: #dcecf2;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: #666;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.upload-box span{
  font-family: 'inter';
  font-size: .8rem;
  font-weight: 400;
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.large { grid-row: span 2; }
.top-right { grid-column: 2 / 4; }