


section:nth-of-type(1) {
  position: relative;
}

section:nth-of-type(1)::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 50%);
  border-radius: 0.5rem;
}  

section:nth-of-type(1) > img:nth-of-type(1) {
  display: block;
  border-radius: 0.5rem;
  width: 100%;
}

.profile-info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--clr-neutral);
  z-index: 1;
}

.profile-info>h2 {
  color: var(--clr-neutral);
  font-family: 'inter';
}

main ul {
  list-style: none;
  padding: 0;
  width: fit-content;
}

main li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

main li img {
  height: 1rem;

}

/* Gallerij voor het profiel*/
/* Grid gemaakt met gridgenerator */
section:nth-of-type(6) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

section:nth-of-type(6) img:nth-of-type(1) {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

section:nth-of-type(6) img:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

section:nth-of-type(6) img:nth-of-type(3) {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

section:nth-of-type(6) h2 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section:last-of-type form {
  display: flex;
  justify-content: space-between;
}

section:last-of-type button {
  /* margin-bottom: 5rem; */
  padding: 1rem;
  background-color: var(--clr-text);
  border-radius: 4rem;
  border-style: none;
}


/* Filter buttons gender */

.voorkeur-buttons {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 2em;
}

.voorkeur-buttons input[type="radio"] {
  display: none;
}

.voorkeur-buttons label {
  margin: 0.5em 0;
  padding: 0.5em .8em;
  border: .05em solid var(--clr-text);
  border-radius: 10em;
  cursor: pointer;
  font-size: 1em;
  color: var(--clr-text);
  transition: all 0.2s ease;
}

/* geselecteerd */
.voorkeur-buttons input[type="radio"]:checked + label {
  background: var(--gradient-primary);
  color: var(--clr-neutral);
  border: none;
}