<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="css/form.css">
</head>

<body>

  <main>

    <!-- multer toevoegen voor fotos -->
    <form method="POST" action="/post" class="multi-step-form" >

      <section class="form-step form-active">
        <h1 class="underline" >Maak je reis</h1> 
        <a href="discover"><img src="" alt="Terugknop naar discover"></a><!-- terugknop naar home -->

        <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-inactive"></div>
        </div>
    
        <h2>Hier iets van tekst nog</h2>
        <h3>Algemene informatie</h3>

        <!-- cover foto -->

        <label>Titel</label>
        <input type="text" placeholder="Titel van de reis"  name="title"/>

        <label>Datum</label>
        <div>
          <input type="date" placeholder="Van" name="startDate" />
          <input type="date" placeholder="Tot" name="endDate" />
        </div>

        <label>Locatie</label>
        <input type="text" placeholder="Locatie" name="location" />

        <label>Hoeveel personen</label>
        <input type="number" placeholder="personen" name="persons" />

        <button type="button" class="gradient-btn" data-next>Volgende</button>
      </section>

      <section class="form-step">
         <h1 class="underline" >Maak je reis</h1> <!-- dit mag dan geen h1 meer zijn????? -->
        <button type="button" data-prev>pijltje terug</button>

        <div class="voortgangsbalk">
            <div class="voortgangsbalk-active"></div>
            <div class="voortgangsbalk-active"></div>
        </div>
    
        <h2>Hier iets van tekst nog</h2>
        <h3>Details over de reis</h3>

        <label>Korte omschrijving</label>
        <input type="text" placeholder="Omschrijving van de reis" name="discription" />

        <!-- route foto -->

        <label>Benodigdheden</label>
        <textarea name="supplies" placeholder="Wat heb je nodig voor deze reis? (druk Enter voor nieuw item)"></textarea>

        <!-- iput type welke???? -->
        <label>Leeftijd categorie</label>
        <input type="text">

        <label>Geslacht</label>
        <input type="text">

        <input class="gradient-btn" type="submit" value="Volgende">
      </section>


    </form>

    



  </main>

  <footer>
    <%- include('../partials/bottom-nav'); %>
  </footer>

  <script src="../script/form.js"></script>
</body>
</html>