<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/matchen.css">
</head>
<body>
  <main>
    <h1 class="underline" >Ontdek</h1>
    <!-- filterknop -->
    <!-- onderweg -->
    <!-- opzoek -->
  
    <ul class="reizen">
      <% posts.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <!-- zonder de {post: post} krijg ik not defined -->
          <%- include('../partials/reisoproep', { post: post }) %>
        </a>
      </li><% }) %>
    </ul>


  </main>

  <footer>
    <%- include('../partials/bottom-nav'); %>
  </footer>
</body>
</html>