<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>

    <% if (user) { %>
    <p>Welkom <%= user.name %></p>
    <% } %>

    <h1 class="underline" >Ontdek</h1>
    <!-- filterknop -->

    <!-- onderweg -->
    <!-- opzoek -->

    <ul>
      <li>
        <a href="/discover/post">
          <img src="/img/onderweg.png" alt="Onderweg" class="discover-img">
          <p>datum</p>
          <ul>
            <li>
              <!-- linken naar profiel -->
              <a href="">
                <img src="" alt="">
              </a>
            </li>
            <li>
              <a href="">
                <img src="" alt="">
              </a>
            </li>
          </ul>

          <p>locatie</p>
          <h2> titel </h2>

          <!-- knopje met pijl -->
        </a>
      </li>
    </ul>





  </main>
  <%- include('../partials/bottom-nav'); %>
</body>
</html>