<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>

  <h1 class="underline" >Oeps!</h1>
  <p>Heee, De pagina die je zoekt 
kan niet gevonden worden...!</p>
  <img src="img/404.svg" alt="pagina niet gevonden">
   <a href="/">Terug naar home</a>
  <% if (user) { %>
  <p>Welkom <%= user.name %></p>
  <% } %> 

  </main> 
  <%- include('../partials/bottom-nav'); %>
</body>
</html>




