<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Oeps!</title>
  </head>
  <body>
    <main id="error">
      <h1 class="underline" >Oeps!</h1>
      <p>Heee, De pagina die je zoekt kan niet gevonden worden...!</p>
      <img src="/img/404.svg" alt="pagina niet gevonden">

      <a class="gradient-btn" href="/">Terug naar home</a>
      </main> 
      <% if (user) { %>
        <footer>
          <%- include('../partials/bottom-nav'); %>
        </footer>
      <% } %>
  </body>
</html>




