<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>
  <link rel="stylesheet" href="css/filter.css">
</head>

<body>

  <header>
    <button id="toggleFilter" class="toggleFilter">
      <img src="img/filter-icon.svg" alt="Filter">
    </button>

    <div class="filter-menu" id="filterMenu">
      <button class="close-menu" id="closeMenu">
        <img src="img/leftarrow.svg" alt="sluit menu">
      </button>
      <button class="filter-btn" data-gender="all">Alles</button>
      <button class="filter-btn" data-gender="man">Man</button>
      <button class="filter-btn" data-gender="vrouw">Vrouw</button>
      <button class="filter-btn" data-gender="anders">Anders</button>

      <label>Datum vertrek</label>
      <input type="date" id="dateFilter">

      <label>Aantal dagen</label>
      <input type="number" id="daysFilter">

    </div>
  </header>

  <ul class="all">
    <% users.forEach(user => { %>
      <li 
        data-gender="<%= user.gender %>" 
        data-date="<%= user.date %>" 
        data-days="<%= user.days %>">
        <%= user.name %>
      </li>
    <% }) %>
  </ul>

  
  <script defer src="javascript/annabels.js"></script>
</body>

</html>