<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
</head>
<body>
    <header>
		<button aria-label="toggle menu">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<nav>
			<ul>
				<li><a class="huidig" aria-label="Home pagina van de website" href="index.html">Home</a></li>
				<li><a aria-label="Pagina over sporten die worden aangeboden" href="#">Sport</a></li>
				<li><a aria-label="Pagina over recreatie dat wordt aangeboden " href="#">Recreatief</a></li>
				<li><a aria-label="Pagina met tarieven" href="tarieven.html">Tarieven</a></li>
				<li><a aria-label="Pagin om te boeken" href="#">Boeken</a></li>
				<li><a aria-label="Pagina om contact op te nemen" href="contact.html">Contact</a></li>
			</ul>
		</nav>

	</header>


    <script defer src="scripts/annabels.js"></script>
</body>
</html>