<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="css/annabels.css">
</head>
<body>
    <header>
        
        <aside>
            <button id="toggleFilter">Filter</button> <!-- dit is de knop om menu te openen -->
            <div class="filter-menu">               <!-- dit is het dropdown menu -->
              <button class="filter-btn" data-filter="all">All</button>
              <button class="filter-btn" data-filter="people">People</button>
              <button class="filter-btn" data-filter="animals">Animals</button>
              <button class="filter-btn" data-filter="items">Items</button>
            </div>
          </aside>


	</header>


    <ul class="all">
        <li class="person">Gandalf</li>
        <li class="animal">Bange leeuw</li>
        <li class="item">Giftige appel</li>
      </ul>

    <script defer src="javascript/annabels.js"></script>
</body>
</html>