<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<main>
    <form action="/forgot-password" method="POST">
        <h1 class="underline">Nieuw wachtwoord</h1>

        <input type="email" name="email" placeholder="Je email" required>
        <button type="submit">Stuur reset link</button>
    </form>
</main>

</html>