<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <h2 class="underline">Login</h2>
    <form id="loginForm" method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
 
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input class="gradient-btn" type="submit" value="Inloggen">
    </form>
    
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>


</main>

<footer>
  <%- include('../partials/bottom-nav'); %>
</footer>

</body>

</html>