<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <!-- <div class="result">
    <div id="cat_result" class="result"><p>placeholder cat</p></div>
    <div id="dog_result" class="result"><p>placeholder dog</p></div>
  </div>
  <div>
    <button id="cat_btn">Get cat</button>
    <button id="dog_btn">Get dog</button>
  </div> -->
    
    <h2>Login</h2>
    <form id="loginForm" method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br> 
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit">
    </form>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

  <script src="/js/api.js"></script>

  <script src="/js/login.js"></script>

</body>

</html>