<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/profiel.css">
        <title>Profielpagina</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <% if (user) { %>
            <p>Welkom <%= user.name %>
            </p>
            <% } %>

                <h1 class="underline">Profiel</h1>
                <section class="profile-pictures">
                    <h2>Gallerij</h2>
                    <img src="img/accounts/SophieBijZee.png" alt="Sophie bij zee">
                    <img src="img/accounts/SophieBijBerg.png" alt="Sophie kijkt naar een berg">
                    <img src="img/accounts/SophieBijWeiland.png" alt="een tentje in de bergen met uitzicht">
                </section>

                <section>
                    <h2>Sophie van Dam • 23</h2>
                    <div class="profile-info">
                        <ul>
                            <li><img src="img/GenderFemale.svg">Vrouw</li>
                            <li><img src="img/location.svg">Nederland</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <p>State • Opzoek naar reisgenootje</p>
                    <h2>Bio:</h2>
                    <p>Hier komt een stukje tekst te staan wat meer verteld over het persoon zodat je een beter beeld
                        krijgt met wie je op reis gaat</p>
                </section>

                <section>
                    <h2>Interesses:</h2>
                    <ul class="hobbies">
                        <li class="hobby">Stedentrip</li>
                        <li class="hobby">Duiken</li>
                    </ul>
                </section>

                <section>
                    <h2>Planning:</h2>
                    <article class="reisoproep">
                        <img src="img/test-cover.jpg" alt="cover dolemietenreis">
                        <span>20 apr – 26 apr</span>
                        <p>Italië</p>
                        <h3>Tocht door de Dolomieten</h3>
                        <button>→</button>
                    </article>
                </section>

                <section>
                    <h2>Opzoek naar:</h2>
                    <p>Hier komt een stukje tekst te staan wat meer verteld over het persoon zodat je een beter beeld
                        krijgt met wie je op reis gaat</p>
                </section>

    </main>
</body>

</html>