<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>


        <% if (error) { %>
            <p class="error">
                <%= error %>
            </p>
            <% } %>


    </main>
    <footer>
        <%- include('../partials/bottom-nav'); %>
    </footer>

</body>

</html>